name: Build Release

on:
  push:
    #tags:
    #  - 'v*'

permissions:
  contents: write
  packages: write

env:
  VERSION: "v0.0.1"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Build for multiple platforms
        run: |
          mkdir -p build
          PLATFORMS="linux/amd64 linux/arm64 darwin/amd64 darwin/arm64 windows/amd64"
          #VERSION=${GITHUB_REF_NAME} # e.g., v0.1.0
          VERSION=${{ env.VERSION }}

          for PLATFORM in $PLATFORMS; do
            GOOS=${PLATFORM%/*}
            GOARCH=${PLATFORM#*/}
            # Terraform provider naming convention: terraform-provider-<name>_v<version>_<os>_<arch>.zip
            BIN_NAME="terraform-provider-openwebui_${GOOS}_${GOARCH}"
            if [ "$GOOS" = "windows" ]; then
              BIN_NAME="${BIN_NAME}.exe"
            fi

            echo "Building for $GOOS $GOARCH..."
            GOOS=$GOOS GOARCH=$GOARCH go build -o build/$BIN_NAME

            echo "Zipping artifact..."
            ZIP_NAME="terraform-provider-openwebui_${VERSION}_${GOOS}_${GOARCH}.zip"
            zip -j build/$ZIP_NAME build/$BIN_NAME
          done

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          files: build/*.zip
          tag_name: ${{ env.VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
